<h1> Battle! </h1>
<h2> Enter your name </h2>

<form action="/names" method="post">

  <label for="player1_name">
    Player1:
  <input type="text" name="player1_name">
  </label>

  <label for="player2_name">
    Player2:
  <input type="text" name="player2_name">
  </label>

  <input type="submit" value="Let's Play">
</form>
